/* #logo{
    margin-top:10px;
    margin-left:12rem;
  }
  #logo img{
  
  width: 130px;
  }
  
  #login-option-nav{
    margin-top:10px;
    float: right;
    margin-right:16rem
  }
  .sign-btn{
    border:0px;
    padding:6px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
    color: #0073b1;
    border:1px solid #0073b1;
    font-weight: 600;
  }
  .sign-btn:hover{
    background-color: rgba(113, 207, 214, 0.466);
  }
  #login-option-nav a{
    color: grey;
    font-weight: 600;
  }
  #login-option-nav a:hover{
    color: grey;
    font-weight: 600;
    border-radius:4px;
    background-color:rgb(218, 218, 218);
  }
  #header-loginpage{
    margin-top: 2rem
  }
  #header-loginpage h1{
    margin-left:11rem;
    color:#0073b1;
    font-size:4rem; 
  }
  
  #header-loginpage #searchbar{
    margin-left: 11rem;
    margin-top:6rem;
    padding-top:0.8rem;
    padding-bottom:0.8rem;
    padding-left:2rem;
    width:450px;
    border-radius:3px;
    border:1px solid rgb(218, 218, 218);
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
  }
  #login-img-header{
    border-radius:100%;
    overflow: hidden;
    max-width:550px;
    height: 550px;
    margin-top: -25px;
  } */

  /* New  */

  .Container{
    display: flex;
    height: 100vh;
    background-color:#eaeef6;
    align-items: center;
  }

  .nav-link:hover{
    color:#eddb53 !important;
    font-weight: bold;
  }

  .leftContiner{
    flex:1
  }

  .mainContainer{
    display: flex;
    flex: 9;
    background-color: #f8f9fa;
    /*          right bottom blur color */
    box-shadow: 5px 5px 30px #a48c8c;  
    height: 80vh;
  }

  .rightContainer
  {
    flex:1
  }

  .leftmainContainer{
    flex: 1;
  }

  .rightmainContainer{
    flex: 1;
  }

  .tagLine{
    padding-top: 100px;
    font-family: "Arvo","serif";
    color: #052f5f;
    font-weight: bolder;
    padding-left: 80px;
    padding-right: 50px;
  }

  #logoTRacker {
    margin: 60px 30px 30px 60px;
    font-style: normal;
    font-weight: bolder;
    font-size: 42px;
    line-height: 27px;
    letter-spacing: 0.25em;
    color: #052f5f;
    font-family: "Arvo", serif;
  }
  
  .imgLanding{
    padding-top: 50px;
    padding-left: 90px;
  }

  @media screen and (max-width: 1920px) {
    .imgLanding {
        height: 430px;;
    }
}
