.btnSignIn{
    width: 100%;
}

#signInForm{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.signinBody{
    text-align: center
}

.logField{
  padding-left: 8px
}

#contSignin{
    display: flex;
    height: 100vh;
}

.signinTitle{
    text-align: center;
}

.signinCard{
    background-color: #fcffff !important;
    border-radius: 8px !important
}

@media screen and (min-width: 1140px) {
    #signInForm {
      flex-basis: 60%;
    }
  }


