#statusModal {
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 530px;
  display: flex;
}

#modalHeader {
  background: #fcffff;
  border: 1px solid #cccccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
}

.xButtonRow {
  padding-right: 10px;
  padding-top: 5px;
}

.xButton {
  font-size: 0.6rem;
  font-weight: 700;
  color: #000 !important;
  border: none !important;
  background: #fcffff !important;
  margin-right: 0 !important;
  float: right;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0px !important;
  padding-top: 3px !important;
}

#xButtonCol {
  padding-right: 5px;
}

#modalTitleRow {
  display: flex;
  padding-bottom: 10px;
}

#colModalLogo {
  padding-right: 0px;
  padding-left: 0px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.modalLogo {
  height: 80%;
  width: 80%;
  opacity: 0.8;
  padding-bottom: 3px;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

#updateButton {
  font-size: 12px !important;
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
  justify-self: right;
  text-align: center;
  padding: 2px;
}

#inputFormBtns{
  display: flex;
  flex-direction: column;
}

.appButtons {
  border-radius: 8px;
  font-family: "Arvo", serif;
  color: #fe7547 !important;
  border: none;
  background: #fedb6f;
  box-shadow: 3px 3px 4px #ffbf0c;
  cursor: pointer;
}

.appButtons:hover {
  background: #ffbf0c;
  box-shadow: 3px 3px 4px #fedb6f;
  color: #fedbcf !important;
}

#jobInfoScreens {
  height: inherit;
  flex: 5;
  display: flex;
}

.colSideMenu {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #cccccc !important;
  cursor: pointer;
  color: #052f5f;
}

@media screen and (max-width: 411px) {
  #jobInfoScreens {
    height: inherit;
    flex: 5;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
  }

  .companyInfoRow {
    width: 100% !important;
  }

  #companyInfoColOne {
    width: 50% !important;
  }

  #companyInfoColTwo {
    width: 50% !important;
  }

  .companyRoleDesc {
    width: 100% !important;
  }


  .colJobInfoTwo {
    width: 100% !important;
  }
}

.colJobInfoTwo {
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 80%;
  padding: 15px;
  padding-top: 15px;
}

.colJobInfoOne {
  border-right: 1px solid #cccccc !important;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none !important;
  color: #052f5f !important;
  font-size: 15px;
}

#companyInfoColOne {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
}

#companyInfoColTwo {
  display: flex;
  flex-direction: column;
}

.modal-content {
  border: none;
}

.companyInfoRow {
  border-bottom-right-radius: 8px;
  display: flex;
  padding-bottom: 10px;
}

#title {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 20px !important;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
}

#colTitle {
  padding-left: 10px;
  flex: 1;
  display: flex;
}

#colUpdateButton {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 20px;
}

#logoTitle {
  display: flex;
  flex: 1;
}

#vacancyTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  font-weight: bold;
  word-wrap: normal;
}

#companyInfoTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

.jobInfo {
  color: #8a7f7f;
  font-size: 15px;
  font-family: "Arvo", serif !important;
}

#role {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#loco {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#applicationTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#applicationJobInfo {
  display: block;
  color: #8a7f7f !important;
  font-size: 15px;
  font-family: "Arvo", serif !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#statusTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  font-weight: bold;
}

#appDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  margin-bottom: 0px;
}

#interviewDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  margin-bottom: 0px;
}

#replyDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  margin-bottom: 0px;
}

#dateTime {
  font-size: 10px;
}

#companyRoleTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  /* padding-top: 20px; */
}

.companyRoleDesc {
  display: flex;
  flex-direction: column;
}

.roleDesc {
  flex: 1;
}
