#statusModal {
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

#modalHeader {
  background: #fcffff;
  border: 1px solid #cccccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.xButton {
  font-size: 0.6rem;
  font-weight: 700;
  color: #000 !important;
  border: none !important;
  background: #fcffff !important;
  margin-right: 0 !important;
  float: right;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0px !important;
  padding-top: 3px !important;
}

#xButtonCol {
  padding-right: 5px;
}

#modalTitleRow {
  margin-bottom: 5px;
}

#colModalLogo {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

#modalLogo {
  height: 80%;
  width: 70%;
  opacity: 0.8;
  padding-bottom: 3px;
}

.updateButton {
  background-color: #e5b85f !important;
  border-radius: 8px;
  font-family: "Arvo", serif;
  color: #fcffff !important;
  font-size: 10px !important;
  font-weight: bold;
  border: 1px solid #cccccc !important;
  width: 60px;
  height: 40px;
  padding: 0px;
  float: right;
}

/*Done*/

/* .modalOptions {
    background: #fcffff;
    border-right: 1px solid #cccccc;
    box-sizing: border-box;
    display: table;
  } */

/* .modalOptionsRect {
    position: absolute;
    height: 100%;
    background: #fcffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    display: table;
  } */
#jobInfoScreens{
padding-bottom: 15px

}
.modal-content {
  border: none !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.colSideMenu{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #cccccc !important;

}

/* .sideOptions{
    border-bottom: 1px solid #cccccc !important;
    padding-left: 0px !important;
    text-align: center;
    padding-right: 0px !important;
  } */

/* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
.colSideMenu {
  padding-left: 0px;
  padding-right: 0px
}

.colJobInfo {
  float: left;
  padding-top: 5px;
  padding-left: 2px
}



.colJobInfoTwo{
  padding-right: 0px;
  padding-left: 10px
}

.colJobInfoOne{
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #cccccc !important;
}
/* .more {
  height: 56px;
} */

a {
  text-decoration: none !important;
  color: #052f5f !important;
  font-size: 15px
}

/* .h4,
h4 { */
  /* font-size: 0.5rem; */
  /* color: #052f5f !important; */
/* } */

/* .container {
    max-width: none !important;
    width: 970px;
  } */

/* .companyInfoCont {
    padding-right: 0px !important;
  
  } */

  .companyInfo{
    padding-right: 0px;
    padding-left: 10px
  }

.companyInfoRow {
  border-bottom-right-radius: 8px;
  padding-right: 0px !important;
}

/* .companyRoleDesc {
    border-bottom-right-radius: 8px;
  } */

#title {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 20px !important;
}

#colTitle {
  padding-left: 5px;
}

#vacancyTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  font-weight: bold;
}

#companyInfoTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#jobInfo {
  color: #8a7f7f;
  font-size: 15px;
  font-family: "Arvo", serif !important;
}

#role {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#loco {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#applicationTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#applicationJobInfo {
  display: block;
  color: #8a7f7f !important;
  font-size: 15px;
  font-family: "Arvo", serif !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#statusTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
  font-weight: bold;
}

#appDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#interviewDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#replyDateTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#dateTime {
  font-size: 10px;
}

#companyRoleTitle {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}

#companyRoleDesc {
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 15px;
}
