/* .notesRow {
  height: 200px !important;
  width: 350px !important;
  margin-left: 120px !important;
  margin-top: 15px;
  border: 1px solid #cccccc;
  padding-right: 0px !important;
  padding-left: 0px !important;
  border-radius: 8px;
}



.notesInputCol {
  width: 400px !important;
  padding-left: 0px !important;
}

#plusNotesButtonCol {
  display: inline-block !important;
  margin-top: 5px;
}
.addNotes {
  height: 198px !important;
  width: 320px !important;
  margin-top: 0px;
  display: inline-block !important;
  border: none !important;
}

#plusNotesButton {
  padding-top: 0px;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  border: none;
  text-shadow: 0 1px 0 #fff;
  background: #fcffff;
  color: #8a7f7f !important;
  margin-left: 70px !important;
  position: absolute
}

.notesListRow {
  width: 350px !important;
  left: 133px;
  height: 50px !important;
  border: 1px solid #cccccc;
  margin-top: 15px !important;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

#allNotesList {
  display: inline-block !important;
  position: absolute;
  width: 320px;
}

#editIcon {
  color: #8a7f7f !important;
  display: inline-block !important;
  position: absolute;
  font-size: 11px !important;
  top: 7px;
  margin-left: 10px;
}

#allNotesButtons{
  display: block !important;
  margin-left: 285px;
  padding-left: 0px

}


#deleteTaskButton{
  color: #8a7f7f !important;
  margin-left: 23px;
  top: 2px;
  position: absolute;
  display: inline-block !important;
} */

.colAddNotes{
 padding-left: 20px;
}

.addNotes{
  color: #8a7f7f;
  font-size: 15px;
  font-family: "Arvo", serif;
  height: 110px !important
}

#rowAddNotes{
  border: 1px solid #cccccc;
  margin-left: 5px;
  margin-right: 12px;
  border-radius: 8px;
  padding-top: 5px;
  height: 120px
}

.colNotesAddButton{
    padding-right: 20px;
    text-align: right
}

#rowNotesList{
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 20px;

}

.colListNotes{
 padding-right: 0px;
 overflow-wrap: break-word;
 height: 50px
}


.buttonsNotes{
  color: #8a7f7f;
  font-size: 15px;
  background: transparent;
}

.editTask{
  line-height: 1.5 !important;
  border-radius: .25rem !important;
  padding: .375rem .55rem;
}


#deleteNote{
 padding-right: 20px !important
} 

.buttonsCol{
    left: 15px
}
