.colAddNotes{
 padding-left: 20px;
}

.addNotes{
  color: #8a7f7f;
  font-size: 15px;
  font-family: "Arvo", serif;
  height: 110px !important
}

#rowAddNotes{
  border: 1px solid #cccccc;
  margin-left: 5px;
  margin-right: 12px;
  border-radius: 8px;
  padding-top: 5px;
  height: 120px
}

.colNotesAddButton{
    padding-right: 20px;
    text-align: right
}

#rowNotesList{
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 20px;

}

.colListNotes{
 padding-right: 0px;
 overflow-wrap: break-word;
 height: 50px
}


.buttonsNotes{
  color: #8a7f7f;
  font-size: 15px;
  background: transparent;
}

.editTask{
  line-height: 1.5 !important;
  border-radius: .25rem !important;
  padding: .375rem .55rem;
}


#deleteNote{
 padding-right: 20px !important
} 

.buttonsCol{
    left: 15px
}
