#filterBar {
  background: #fcffff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#filterBarFilters {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

#rowFilterBarAndButton {
  border-top: 1.5px solid #eaeef6;
  /* padding-right: 10px;
  padding-left: 15px */
}

.studentHomepage {
  background: #eaeef6 !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
}

#logoDashboard {
  margin: 20px 20px 20px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.25em;
  color: #052f5f;
  font-family: "Arvo", serif;
}

.dashboardMainDisplay {
  background: #fcffff;
  margin-top: 40px;
}

.rowAllCards {
  padding-top: 40px;
  padding-bottom: 40px;
}

::placeholder {
  color: #8a7f7f !important;
  opacity: 1;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

#seniorJunior {
  color: #8a7f7f;
}

.input-group-text {
  color: #8a7f7f;
  background: #fcffff;
  border: none;
}

.form-control {
  background-color: #fcffff;
  background-clip: padding-box;
  border: none;
  padding-left: 0px
}

#btnSearchJob {
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 80px;
  height: 35px;
  background-color: #e5b85f;
  color: #052f5f !important;
  margin-top: 22px;
  margin-left: 30px
}

.colBtnSearch{
  padding-left: 0px;
  padding-right: 0px;

}

/* filteredsearch display */

#titleRow {
  position: absolute;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 1.05rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

#roleTitle {
  margin-left: 183px;
  position: absolute;
}

#locationTitle {
  margin-left: 455px;
  position: absolute;
}

#descriptionTitle {
  margin-left: 638px;
  position: absolute;
}

#filteredScroll {
  position: absolute;
  margin-top: 70px;
  margin-left: 45px;
}

#record #descriptionRecord {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#record {
  margin-top: 10px;
  padding-left: 0px;
}

.detailsButton {
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 65px;
  height: 30px;
  background-color: #e5b85f;
  color: #052f5f !important;
  font-size: 12px;
  margin-left: 50px;
}
