.filterBar {
  position: absolute;
  height: 186px;
  left: 180px !important;
  margin-top: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: #fcffff;
}

@media (min-width: 100px) {
  .filterBar {
    /* max-width: 700px !important; */
    width: 1145px !important;
    left: 100px !important;
  }
}

.studentHomepage {
  background: #eaeef6 !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;

}

#logo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 35px;
  margin-left: 88px;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.25em;
  color: #052f5f;
  font-family: "Arvo", serif;
}

.dashboardMainDisplay {
  position: absolute;
  display: inline-block;
  height: 700px;
  left: 180px !important;
  margin-top: 300px;
  margin-bottom: 80px;
  background: #fcffff;
}

@media (min-width: 100px) {
  .dashboardMainDisplay {
    /* max-width: 600px !important; */
    width: 1145px !important;
    left: 100px !important;
  }
}

.searchCompany {
  position: absolute;
  width: 130px !important;
  height: 25px !important;
  left: 88px;
  margin-top: 17px;
  border: none !important;
  font-family: "Arvo", serif;
  background: #fcffff !important;
  font-size: 1.1rem !important;
}

::placeholder {
  color: #8a7f7f !important;
  opacity: 1;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

#searchIcon {
  color: #8a7f7f !important;
  margin-left: 70px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

#jobRole {
  position: absolute;
  width: 145px !important;
  height: 40px !important;
  left: 340px;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  /* color: rgb(111, 114, 121) !important; */
  color: #8a7f7f !important;
  background: #fcffff;
  padding: 0px;
}

#roleIcon {
  color: #8a7f7f !important;
  margin-left: 310px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

#entryLevel {
  position: absolute;
  width: 110px !important;
  height: 40px !important;
  left: 540px;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  color: #8a7f7f !important;
  background: #fcffff;
  padding: 0px;
}

#entryLevelIcon {
  color: #8a7f7f !important;
  margin-left: 513px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

.locationImg {
  position: absolute;
  margin-left: 770px;
  bottom: 38px;
  width: 15px !important;
  height: 19px;
  color: #8a7f7f !important;
}

#location {
  position: absolute;
  width: 130px !important;
  height: 40px !important;
  left: 795px;
  right: 88px !important;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  /* color: rgb(111, 114, 121) !important; */
  background: #fcffff;
  padding: 0px;
  color: #8a7f7f !important;
}

.searchButton {
  position: absolute;
  margin-left: 985px !important;
  margin-top: 12px !important;
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 80px;
  height: 35px;
  background-color: #e5b85f;
  color: #052f5f !important;
}

/* SAVE APPLICATIONS CARDS  */

.listCard {
  position: absolute;
  width: 300px;
  height: 466px;

  border-radius: 8px;
  font-family: "Arvo", serif;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#listRecord {
  width: 260px;
  height: 50px;
  margin-left: 0px;
  display: block;
  background: #ffffff;
  border: 2px solid #eaeef6;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 0px !important;
  padding-right: 5px !important;
  margin-bottom: 10px !important;
}

.listCard .card-header {
  border-top: 8px;
  color: #052f5f !important;
  text-align: center;
  font-size: 20px;
}

.logoCol {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: inline-block !important;
  width: 50px !important;
}

.companyCol {
  padding-left: 0px !important;
  display: inline-block !important;
  padding-right: 0px !important;
  width: 400px !important;
  font-size: small;
  color: #052f5f !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.companyLogo{
  width: 50px;
  height: 30px;
  margin-bottom: 20px !important;
}

/* WISHLIST APPLICATIONS CARD   */

.listCard.wishCard {
  top: 100px;
  left: 40px;
}

.wishCard .card-header{
  background-color: #eaeef6;
}

.seeMoreLink {
  display: block;
  position: absolute;
  margin-left: 90px;
  text-align: center !important;
  color: #8a7f7f;
}

.seeMoreLink.wishlist {
  margin-top: 100px !important;
}

.seeMoreLink.wishlist {
  margin-top: 40px !important;
}

/* ACTIVE APPLICATIONS CARD   */

.activeCard .card-header {
  background-color: #59ff60;
}

.listCard.activeCard {
  left: 420px !important;
  bottom: 367px;
}

.seeMoreLink.active {
  margin-top: 40px !important;
}

/* CLOSED APPLICATIONS CARD   */

.listCard.closedCard {
  left: 800px !important;
  bottom: 833px;
}

.closedCard .card-header {
  background-color: #f38982;

}

.seeMoreLink.closed {
  margin-top: 160px !important;
}

/* filteredsearch display */

#titleRow {
  position: absolute;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 1.05rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

#roleTitle {
  margin-left: 183px;
  position: absolute;
}

#locationTitle {
  margin-left: 455px;
  position: absolute;
}

#descriptionTitle {
  margin-left: 638px;
  position: absolute;
}

#filteredScroll {
  position: absolute;
  margin-top: 70px;
  margin-left: 45px;
}

#record #descriptionRecord {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#record {
  margin-top: 10px;
  padding-left: 0px;
}

.detailsButton {
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 65px;
  height: 30px;
  background-color: #e5b85f;
  color: #052f5f !important;
  font-size: 12px;
  margin-left: 50px;
}
