.filterBar {
  position: absolute;
  height: 186px;
  left: 180px !important;
  margin-top: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: #fcffff;
}

.studentHomepage {
  background: #eaeef6 !important;
  height: 100vh;
  overflow: scroll;
  position: absolute;
}

#logo{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 35px;
  margin-left: 88px;
  position: absolute;
/* left: 8.19%;
right: 81.82%;
top: 7.23%; */
/* bottom: 89.14%; */
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 0.25em;

color: #052F5F;
  font-family: "Arvo", serif;
}

.dashboardMainDisplay {
  position: absolute;
  display: inline-block;
  height: 700px;
  left: 180px !important;
  margin-top: 300px;
  margin-bottom: 80px;
  background: #fcffff;
}

.searchCompany {
  position: absolute;
  width: 130px !important;
  height: 25px !important;
  left: 88px;
  margin-top: 17px;
  border: none !important;
  font-family: "Arvo", serif;
  background: #fcffff !important;
  font-size: 1.1rem !important;
}

::placeholder {
  color: #052f5f !important;
  opacity: 1;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

#searchIcon {
  color: #052f5f !important;
  margin-left: 70px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

#jobRole {
  position: absolute;
  width: 145px !important;
  height: 40px !important;
  left: 340px;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  /* color: rgb(111, 114, 121) !important; */
  color: #052f5f !important;
  background: #fcffff;
  padding: 0px;
}

#roleIcon {
  color: #052f5f !important;
  margin-left: 310px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

#entryLevel {
  position: absolute;
  width: 110px !important;
  height: 40px !important;
  left: 540px;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  color: #052f5f !important;
  background: #fcffff;
  padding: 0px;
}

#entryLevelIcon {
  color: #052f5f !important;
  margin-left: 513px;
  bottom: 38px;
  font-size: 19px !important;
  position: absolute;
}

.locationImg {
  position: absolute;
  margin-left: 770px;
  bottom: 38px;
  width: 15px !important;
  height: 19px;
  font: #052f5f !important;
}

#location {
  position: absolute;
  width: 130px !important;
  height: 40px !important;
  left: 795px;
  right: 88px !important;
  margin-top: 10px;
  border: none !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  font-family: "Arvo", serif;
  /* color: rgb(111, 114, 121) !important; */
  background: #fcffff;
  padding: 0px;
  color: #052f5f !important;
}

.searchButton {
  position: absolute;
  margin-left: 985px !important;
  margin-top: 12px !important;
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 80px;
  height: 35px;
  background-color: #e5b85f;
  color: #052f5f !important;
}


/* WISHLIST APPLICATIONS CARD   */

#wishList {
  position: absolute;
  width: 300px;
  height: 466px;
  left: 40px;
  top: 100px;
  border-radius: 8px;
  font-family: "Arvo", serif;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#wishList .card-header {
  background-color: #eaeef6;
  border-top: 8px;
  color: #052f5f !important;
  text-align: center;
  font-size: 20px;
}

.wishlistRecord {
  width: 250px;
  height: 50px;
  margin-left: 5px;
  display: block;
  background: #ffffff;
  border: 2px solid #eaeef6;
  box-sizing: border-box;
}

.wishCompanyLogo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#seeMoreLink{
  display: block;
  margin-top: 300px;
  text-align: center;
  color: #8A7F7F
}


/* ACTIVE APPLICATIONS CARD   */

.activeRecord{
  width: 250px;
  height: 50px;
  margin-left: 5px;
  display: block;
  background: #ffffff;
  border: 2px solid #eaeef6;
  box-sizing: border-box;
}

#active .card-header {
  background-color: #59FF60;
  border-top: 8px;
  color: #052f5f !important;
  text-align: center;
  font-size: 20px;
}

#active {
  position: absolute;
  width: 300px;
  height: 466px;
  left: 420px;
  top: 100px;
  border-radius: 8px;
  font-family: "Arvo", serif;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.activeCompanyLogo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#seeMoreActiveLink{
  display: block;
  margin-top: 300px;
  text-align: center;
  color: #8A7F7F
}


/* CLOSED APPLICATIONS CARD   */

.closedRecord{
  width: 250px;
  height: 50px;
  margin-left: 5px;
  display: block;
  background: #ffffff;
  border: 2px solid #eaeef6;
  box-sizing: border-box;
}

#closed .card-header {
  background-color: #F38982;
  border-top: 8px;
  color: #052f5f !important;
  text-align: center;
  font-size: 20px;
}

#closed {
  position: absolute;
  width: 300px;
  height: 466px;
  left: 800px;
  top: 100px;
  border-radius: 8px;
  font-family: "Arvo", serif;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.closedCompanyLogo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#seeMoreClosedLink{
  display: block;
  margin-top: 300px;
  text-align: center;
  color: #8A7F7F
}

/* filteredsearch display */

#titleRow{
  position: absolute;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "Arvo", serif;
  color: #052f5f !important;
  font-size: 1.05rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;

}

#roleTitle{
  margin-left: 183px;
  position: absolute;
}

#locationTitle{
  margin-left: 455px;
  position: absolute;
}

#descriptionTitle{
  margin-left: 638px;
  position: absolute;
}

#filteredScroll{
  position: absolute;
  margin-top: 70px;
  margin-left: 45px;
}

#record #descriptionRecord{
  /* position: absolute; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#record{
  margin-top: 10px;
  padding-left: 0px;
}

.detailsButton {
  /* margin-left: 985px !important;
  margin-top: 12px !important; */
  border-radius: 8px;
  font-family: "Arvo", serif;
  width: 65px;
  height: 30px;
  background-color: #e5b85f;
  color: #052f5f !important;
  font-size: 12px;
  margin-left: 50px
}
