.addTask {
  /* display: inline-block !important; */
  border: none !important;
  font-family: "Arvo", serif;
  color: #8a7f7f !important;
  font-size: 15px !important;
}


.taskButton {
  font-size: 0.8rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff !important;
  background: #fcffff !important;
  border: 1px solid #cccccc !important;
  color: #8a7f7f !important;
  cursor: pointer;
}

/* .addTask::placeholder {
  opacity: 1;
} */



#allList {
  font-family: "Arvo", serif;
  color: #8a7f7f !important;
  font-size: 15px !important;
  overflow-wrap: break-word;
}

#taskListRow{
  padding-top: 10px
}

.taskRow{
  display: flex;
  padding-bottom: 20px;
}

#inputTaskField{
  flex: 1
}

.displayTaskCont{
  flex: 1;
}

