/* SAVE APPLICATIONS CARDS  */

.listCard {
  border-radius: 8px;
  font-family: "Arvo", serif;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 300px;
  padding-bottom: 45px;
  height: 410px;
  margin: 0 auto;
}

.listRecord {
  background: #ffffff;
  border: 2px solid #eaeef6;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  margin-bottom: 5px;
  cursor: pointer
}

.delRecord{
  flex-basis: 10%
}

.listCard .card-header {
  color: #052f5f !important;
  text-align: center;
  font-size: 20px;
}

.companyCol {
  font-size: small;
  color: #052f5f !important;
  padding-right: 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: 100%
}

.cardRecRoleTitle{
  flex-basis: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px
}

.cardRecCompanyNameDelete{
  display: flex
}
.cardRecCompanyName{
  flex-basis: 90%;
}
.companyLogo {
  width: 50px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}

/* WISHLIST APPLICATIONS CARD   */

.wishlist .card-header {
  background-color: #eaeef6;
}

.seeMoreLink {
  display: block;
  position: absolute;
  margin-left: 80px;
  text-align: center !important;
  color: #8a7f7f;
  bottom: 15px;
}

.seeLessLink {
  display: block;
  position: absolute;
  margin-left: 90px;
  text-align: center !important;
  color: #8a7f7f;
  bottom: 15px;
}

.rowSeeMoreLess {
  justify-content: center;
  display: block;
  margin-left: 80px;
  text-align: center !important;
  color: #8a7f7f;
  bottom: 15px;
  position: absolute;
  cursor: pointer
}

.active .card-header {
  background-color: #59ff60;
}

.closed .card-header {
  background-color: #f38982;
}

.listCard .card-body {
  overflow-y: auto;
  max-height: 330px;
}
